extends _head
block content
    h1.text-center.margin-bot-md #{category.title}
    form(action="/browse" method='POST')
            .container.margin-bot-md
                .row.margin-bot-md
                    .col-sm-12
                        #search.input-group
                            input.text-center.form-control(
                                type='text',
                                placeholder='Search'
                            )
                            span.input-group-addon
                                button(type='submit')
                                    span.glyphicon.glyphicon-search
                .row.margin-bot-md
                    .col-xs-1.col-xs-offset-2
                        b $ 0
                    .col-xs-6
                        input#price-range(
                            type='text',
                            value='',
                            data-provide='slider'
                            data-slider-min='0',
                            data-slider-max='1000',
                            data-slider-step='25',
                            data-slider-value='[0,1000]'
                            style='width: 100%'
                        )
                    .col-xs-1
                        b $ 1000
    .row
        +productsList(products)
    script
        | // test slider plugin
        | $('#price-range').on('change', x => console.log(x.value.newValue))
