extends _head
block content
    .container
        .row
            .col-sm-6.col-sm-offset-3
                form.form-signin.text-center(method='POST')
                    h2.form-signin-heading.margin-bot-md Register
                    input#inputUsername.form-control.margin-bot-md(
                        type='text',
                        placeholder='Username',
                        required='',
                        autofocus=''
                    )
                    input#inputEmail.form-control.margin-bot-md(
                        type='email',
                        placeholder='E-mail',
                        required=''
                    )
                    input#inputPassword.form-control.margin-bot-md(
                        type='password',
                        placeholder='Password',
                        required=''
                    )
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Register
