mixin search(action)
    .col-sm-12
        form(action=action method='GET')
            #search.input-group
                input.text-center.form-control(
                    name='q'
                    type='text',
                    placeholder='Search'
                    autofocus=''
                    required=''
                )
                span.input-group-addon
                    button(type='submit')
                        span.glyphicon.glyphicon-search

mixin productsList(products)
    each p in products
        .card.col-xs-12.col-sm-6.col-md-4.text-center.margin-bot-md.text-muted
            img(src='/example.svg', alt='Product image')
            .row.margin-none
                h3.col-xs-9.text-left.padding-none
                    a(href='/product/' + p._id) #{p.title}
                h3.col-xs-3.text-right.padding-none $#{p.price}
            p(st).text-justify #{p.description}

mixin flash(flash)
    if flash
        if flash.error
            each i in flash.error
                +_alert('danger', i)
        if flash.success
            each i in flash.success
                +_alert('success', i)
        if flash.info
            each i in flash.info
                +_alert('info', i)

mixin _alert(type, message)
    div(class='alert alert-' + type)
        | #{message}
        a.close(
            href='#',
            data-dismiss='alert',
            aria-label='close'
        ) &times;
