extends _base
block content
    .container
        h1.text-center.margin-bot-md #{category.title}
        .row.margin-bot-sm
            +search('/browse/' + category.url)
        .row.margin-bot-sm
            .col-xs-2.text-right
                b $ #{slider.min}
            .col-xs-8
                input#price-range(
                    name='p',
                    type='text',
                    data-provide='slider'
                    data-slider-min=slider.min,
                    data-slider-max=slider.max,
                    data-slider-step=slider.step,
                    data-slider-value='[' + filter.price.min + ',' + filter.price.max + ']'
                    style='width: 100%'
                )
            .col-xs-2.text-left
                b $ #{slider.max}
        #clear-filter.hidden.row.margin-bot-md.text-center
            a(href='#') Clear filter
    .row.scroll
        +productsList(products)

block scripts
    +attachToWindow(windowCtx)
    script(src='/scripts/slider.js')
    script(src='/scripts/category.js')
