extends _base
block content
    .row
        .col-sm-6.col-sm-offset-3
            form.form-signin.text-center(method='POST')
                h2.form-signin-heading.margin-bot-md Sign in
                input#inputUsername.form-control.margin-bot-md(
                    name='username',
                    type='text',
                    placeholder='Username',
                    required='',
                    autofocus=''
                )
                input#inputPassword.form-control.margin-bot-md(
                    name='password',
                    type='password',
                    placeholder='Password',
                    required=''
                )
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
