extends _base
block content
    .product-detials.row
        .col-sm-7.col-sm-offset-2.col-xs-12
            .img-container(
                style='background-image:url(/uploads/' + (product.photoId || 'no-image.svg') + ')'
            )
            .row
                h2.title.col-xs-12
                    if user
                        if isViewers
                            #delete.btn.btn-danger.btn-md
                                span.glyphicon.glyphicon-trash
                        else
                            #favourite.btn.btn-primary.btn-md
                                if (isFavouritedByViewer)
                                    span.glyphicon.glyphicon-heart
                                else
                                    span.glyphicon.glyphicon-heart-empty
                    | &ensp;#{product.title}
            .row
                h3.col-xs-12.text-muted $#{product.price}
            .row
                h4.col-xs-12 Seller:&nbsp;
                    a(href='/user/' + product.seller.username) #{product.seller.username}
            .row
                h4.col-xs-12
                    #contact-seller.btn.btn-default Show seller details
                    #email.hidden Seller email:&nbsp;
            .row.margin-bot-md
            p.text-muted #{product.description}

block scripts
    +attachToWindow(windowCtx)
    script(src='/scripts/product.js')
