extends _base
block content
    .row
        .col-sm-6.col-sm-offset-3
            form#contact_form.form-signin.text-center(method='POST')
                h2.form-signin-heading.margin-bot-md Register
                input#input-username.form-control.margin-bot-md(
                    name='username',
                    type='text',
                    placeholder='Username',
                    required='',
                    autofocus=''
                )
                input#input-email.form-control.margin-bot-md(
                    name='email',
                    type='email',
                    placeholder='E-mail',
                    required=''
                )
                input#input-password.form-control.margin-bot-sm(
                    name='password',
                    type='password',
                    placeholder='Password',
                    required=''
                )
                .margin-bot-sm
                    a(href='/login')
                        | Already have an account? Login here
                button#input-register.btn.btn-lg.btn-primary.btn-block(type='submit') Register
